### Data preprocessing 


#### 1. Exploratory analysis & Outlier detection

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

#### Load data

1. AquaStat

In [5]:
df = pd.read_csv('clean data/aqua_socec_clean.csv', index_col=0)
df.sample(5)

,country,variable,1998-2002,2003-2007,2008-2012,2013-2017
1387,NIC,Urban population (1000 inhab),2869.477000,3110.511000,3368.137000,3624.780000
2181,ZMB,GDP per capita (current US$/inhab),377.129939,1104.582234,1690.361466,1513.276090
2050,UGA,Human Development Index (HDI) [highest = 1] (-),0.418000,0.457000,0.497000,0.522000
90,AUS,Population density (inhab/km2),2.506242,2.701944,2.958700,3.175807
547,DJI,Rural population with access to safe drinking-...,62.600000,63.800000,64.700000,64.700000

In [6]:
# rename year period to merge with water stress indicators
df.rename(columns = {'country':'Country' ,
                     '1998-2002':'2002', 
                     '2003-2007': '2007', 
                     '2008-2012': '2012',
                     '2013-2017':'2017'}, inplace = True)

2. Water stress data

In [7]:
df_ws = pd.read_csv('clean data/water_stress.csv')
df_ws.sample(5)

,Country,Year,Water stress (MDG),Water use efficiency (SDG),Water stress (SDG)
384,LUX,2007,1.421714,NaN,4.126036
28,AUS,2002,4.219773,NaN,8.347923
32,AUT,2002,4.603604,78.500721,9.883946
79,BOL,2007,0.361280,NaN,1.168967
27,ATG,2017,8.461538,109.839023,8.461538

In [8]:
df_ws["Year"].unique()
df_ws["Year"] = df_ws["Year"].astype("string")
df_ws["Year"] = df_ws["Year"].astype("object")
df_ws["Year"].unique()

array(['2002', '2007', '2012', '2017'], dtype=object)

3. UNICEF dataset

In [36]:
df_unif = pd.read_csv('clean data/unicef_socec_clean.csv', index_col=0)
df_unif.sample(5)

,Indicator,Country,Time,Value
43880,"GNI per capita, Atlas method (current US$)",LUX,2001,45630.0
68015,"Life expectancy at birth, total (years)",SEN,2013,66.0
27494,GDP deflator (base year varies by country),WSM,2004,73.6
119800,"Official exchange rate (LCU per US$, period av...",MAR,2013,8.4
72824,Total population (thousands),LKA,2004,19387.0

In [37]:
df_unif.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80784 entries, 0 to 133772
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Indicator  80784 non-null  object
 1   Country    80784 non-null  object
 2   Time       80784 non-null  int64
 3   Value      80784 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.1+ MB

In [13]:
# transform type indicators and slice length name
df["variable"] = df["variable"].astype("string")
df['variable'].unique()
df["variable"] = df['variable'].str.slice(0,35)
df['variable'].unique()

<StringArray>
[      'Rural population (1000 inhab)',       'Urban population (1000 inhab)',
      'Population density (inhab/km2)',  'GDP per capita (current US$/inhab)',
 'Human Development Index (HDI) [high', 'Total population with access to saf',
 'Rural population with access to saf', 'Urban population with access to saf']
Length: 8, dtype: string

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1120 entries, 0 to 2187
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Country   1120 non-null   object
 1   variable  1120 non-null   string
 2   2002      1120 non-null   float64
 3   2007      1120 non-null   float64
 4   2012      1120 non-null   float64
 5   2017      1120 non-null   float64
dtypes: float64(4), object(1), string(1)
memory usage: 61.2+ KB

In [ ]:
# transform data aquastat long format (year as attribute)
df_melt = pd.melt(df, id_vars=["Country","variable"], 
        var_name="Year", 
        value_name="value")
df_melt.head(5)

In [ ]:
# transform data aquastat wide format (indicators as attributes)
df_piv = df_melt.pivot_table(values='value', 
                             index=['Year','Country'], 
                             columns='variable',
                             fill_value=0)
df_piv = df_piv.reset_index()

In [ ]:
df_piv.head(5)

In [ ]:
# merge aquastat with water stress. 
# left merge to only keep aquastat countries
df_piv_ws = pd.merge(df_piv, df_ws, on=["Country", "Year"], how='left')
df_piv_ws.sample(5)

In [ ]:
# Distribution per indicator en time period
#variable = df['variable'].unique()

variable = df_piv_ws.columns[2:]

for i in variable:
    plt.figure(figsize=(10,4))
    sns.boxplot(data = df_piv_ws, x = i ,y ='Year', width=0.5)
    plt.title(("Distribution of", i))

In [ ]:
# quick check for one time period
df_p = df[['Country','variable','2017']]
# df_p.head(10)

In [ ]:
# df_p.describe()

In [ ]:
df_p = df_p.pivot('Country','variable','2017')
#corr_data = df_p.corr()

In [ ]:
# transform variables (std) before heatmap
scaler = StandardScaler()
# get numeric data

num_d = df_p.select_dtypes(include=['float64'])

# update the cols with their normalized values
df_p[num_d.columns] = scaler.fit_transform(num_d)

In [ ]:
plt.subplots(figsize=(6,.2*(len(df_p.index))))
sns.heatmap(df_p,      
            cbar_kws={'fraction' : 0.08}, # shrink colour bar
            cmap='OrRd', # use orange/red colour map
            linewidth=1)

In [ ]:
sns.clustermap(df_p, 
               linewidth=0.05,
               cmap='OrRd',
               figsize=(9,(.18*(len(df_p.index)))),
               cbar_pos=(1.05, .2, .03, .4))

# Rural & total pop with access to water 
# Rutal & total pop per 1000 habs same: decide which to drop

In [ ]:
sns.pairplot(df_p,kind="reg", plot_kws={'line_kws':{'color':'red'}})

In [ ]:
#sns.pairplot(df_p,kind="reg")
#plot_kws={'line_kws':{'color':'red'}})

### Exploratory analysis AquaStat and Water Stress

In [ ]:
# Exploratory analysis aquastat and ws (one time period)
df_piv_ws_17 = df_piv_ws.loc[df_piv_ws.Year == '2017']
df_piv_ws_17.sample(5)

In [ ]:
df_piv_ws_17.describe()

In [ ]:
df_piv_ws_17.nlargest(5,'Water use efficiency (SDG)')
# looking above boxplot per year Water eff for luxemburg might be an outlier

In [ ]:
df_piv_ws_17.nlargest(5,'GDP per capita (current US$/inhab)')
# Luxemburg has low population density and largest water use efficiency + highest GDP

In [ ]:
df_piv_ws_17.nlargest(5,'Water stress (MDG)')

In [ ]:
corr_data = df_piv_ws_17.corr()

In [ ]:
sns.heatmap(corr_data,
           linewidths=.5)

# drop: - Rural or urban pop with access to saf
#       - WS (MDG) or (SDG)
#       - Rural & Urban pop(1000 inhab)

In [ ]:
df_keep = df_piv_ws_17.loc[:, ~df_piv_ws_17.columns.isin(['Rural population with access to saf',
                                       'Water stress (MDG)',
                                       'Urban population (1000 inhab)'])]
sns.pairplot(df_keep,kind="reg")
#plot_kws={'line_kws':{'color':'red'}})

In [ ]:
# After removing LUX

#g.set(xscale="log", yscale = "log")

df_replot = df_piv_ws_17.loc[~((df_piv_ws_17['Country'] == 'LUX')),:]
g = sns.relplot(x="Population density (inhab/km2)", y='Water use efficiency (SDG)',
               size="Population density (inhab/km2)",
                hue = 'Human Development Index (HDI) [high',
                alpha =0.3,
      #          style="event",
      #          col="country",
                height=8, aspect=.8, 
                #kind="line", 
              sizes=(0,0.5*max(df_replot["Population density (inhab/km2)"])),
                data=df_replot)

In [ ]:
g = sns.relplot(x="GDP per capita (current US$/inhab)", y='Water use efficiency (SDG)',
                size="Population density (inhab/km2)",
                hue = 'Human Development Index (HDI) [high',
                alpha =0.3,
      #         style="event",
      #         col="country",
                height=5, aspect=.8, 
                #kind="line", 
                sizes=(0,0.5*max(df_piv_ws_17["Population density (inhab/km2)"])),
                data=df_piv_ws_17)

3. Exploratory UNICEF dataset

In [20]:
df_unif.isnull().sum()

Indicator    0
Country      0
Time         0
Value        0
dtype: int64

In [21]:
# UNICEF includes 30 indicators fot 21 years.
df_unif["Indicator"].unique()

array(['Fertility rate, total (births per woman)',
       'Life expectancy at birth, total (years)',
       'Mortality rate, infant (per 1,000 live births)',
       'Population growth (annual %)',
       'Prevalence of HIV, total (% of population ages 15-49)',
       'GDP (current LCU)', 'GDP (current US$)',
       'GDP deflator (base year varies by country)',
       'GDP growth (annual %)', 'GDP per capita (current US$)',
       'GDP per capita, PPP (current international $)',
       'GDP, PPP (current international $)',
       'General government total expenditure (current LCU)',
       'GNI per capita, Atlas method (current US$)',
       'GNI per capita, PPP (current international $)',
       'PPP conversion factor, GDP (LCU per international $)',
       'Total debt service (% of GNI)',
       'Population aged 25-64 years (thousands) ',
       'Total population (thousands)', 'GNI per capita (current LCU)',
       'GDP (constant LCU)',
       'Official exchange rate (LCU per US$, period average)',
       'DEC alternative conversion factor (LCU per US$)',
       'GDP at market prices (constant 2010 US$)',
       'PPP conversion factor, private consumption (LCU per international $)',
       'GDP per capita, PPP (constant 2011 international $)',
       'GNI (current LCU)', 'GDP, PPP (constant 2011 international $)',
       'GDP per capita (current LCU)',
       'Price level ratio of PPP conversion factor (GDP) to market exchange rate'],
      dtype=object)

In [38]:
# Filter only 2017
df_unif['Time'] = df_unif['Time'].astype('string') 
df_unif = df_unif.loc[df_unif.Time == '2017']
df_unif.sample(4)

,Indicator,Country,Time,Value
124395,GDP (constant LCU),TZA,2017,1.076703e+14
78576,Total population (thousands),MEX,2017,1.247770e+05
129141,"Official exchange rate (LCU per US$, period av...",GBR,2017,8.000000e-01
43214,General government total expenditure (current ...,WSM,2017,6.610000e+08

In [40]:
# transform data wide format (indicators as attributes)
df_unif_p = df_unif.pivot_table(values='Value', 
                             index=['Time','Country'], 
                             columns='Indicator',
                             fill_value=0)
df_unif_p = df_unif_p.reset_index()

In [41]:
df_unif_p.describe()

Indicator,DEC alternative conversion factor (LCU per US$),"Fertility rate, total (births per woman)",GDP (constant LCU),GDP (current LCU),GDP (current US$),GDP at market prices (constant 2010 US$),GDP deflator (base year varies by country),GDP growth (annual %),GDP per capita (current LCU),GDP per capita (current US$),...,"Mortality rate, infant (per 1,000 live births)","Official exchange rate (LCU per US$, period average)","PPP conversion factor, GDP (LCU per international $)","PPP conversion factor, private consumption (LCU per international $)",Population aged 25-64 years (thousands),Population growth (annual %),"Prevalence of HIV, total (% of population ages 15-49)",Price level ratio of PPP conversion factor (GDP) to market exchange rate,Total debt service (% of GNI),Total population (thousands)
count,140.000000,140.000000,1.400000e+02,1.400000e+02,1.400000e+02,1.400000e+02,140.000000,140.000000,1.400000e+02,140.000000,...,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,1.400000e+02
mean,1037.171429,2.836429,1.769199e+14,2.808071e+14,4.813167e+11,4.642023e+11,219.968571,3.552143,3.685866e+06,13012.821429,...,23.257143,1031.435000,381.063286,398.356429,23578.650000,1.542857,1.440000,0.522143,2.819286,4.745544e+04
std,3841.591960,1.315935,1.072923e+15,1.774900e+15,1.996021e+12,1.772991e+12,464.207899,3.402992,1.764413e+07,19058.949947,...,19.745274,3767.690189,1393.541448,1479.881806,91074.664165,1.200428,3.911315,0.241121,4.433309,1.681159e+05
min,0.000000,0.000000,0.000000e+00,2.443580e+08,0.000000e+00,0.000000e+00,0.000000,-5.700000,2.141000e+03,0.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,-2.200000,0.000000,0.000000,0.000000,0.000000e+00
25%,1.925000,1.800000,6.982886e+10,1.652387e+11,1.150203e+10,1.230110e+10,103.425000,1.975000,3.087775e+04,1570.000000,...,7.000000,2.075000,1.150000,1.250000,1576.750000,0.800000,0.000000,0.400000,0.000000,2.939000e+03
50%,16.000000,2.400000,1.198472e+12,1.863736e+12,3.851408e+10,3.693462e+10,114.950000,3.700000,9.042850e+04,4190.000000,...,17.000000,18.150000,8.065000,8.750000,4665.000000,1.400000,0.200000,0.500000,1.200000,1.069800e+04
75%,570.800000,3.825000,7.437766e+12,1.247587e+13,2.266772e+11,2.220739e+11,174.325000,4.850000,6.222692e+05,15259.250000,...,36.000000,570.800000,210.197500,207.350000,14221.750000,2.500000,0.825000,0.600000,4.225000,3.157300e+04
max,34392.500000,7.000000,9.912928e+15,1.531653e+16,1.948539e+13,1.734863e+13,4069.400000,26.700000,1.898572e+08,107627.000000,...,86.000000,33226.300000,13061.290000,13944.900000,843003.000000,4.700000,28.400000,1.300000,37.700000,1.421022e+06